@import "mobile/admin-styles";

@import "orders-styles";

$adminDarkGradient: linear-gradient(180deg,#000000 10%,#464545 100%);
$adminBackColor: #484a4e;

body {
    color: #5c5757 !important
}

.peso-sign:before {
    content: '\20B1';
}

label.required:after {
    content:" *";
    color: red;
}

#accordionSidebar {
    background-image: $adminDarkGradient;
    background-color: $adminBackColor;
}

#activation_modal_footer {
    padding: 0;
    .am_btn {
        flex: 1 !important;
        margin: 0;
        border-radius: 0;
        padding: 1em;
    }
}

#authBackground  {
    background-color: #141414 !important;
    background-image: linear-gradient(180deg,#2a2b2b 10%,#5f5e5e 100%) !important;
}

// #authBackground .bg-login-image {
//     background-image: url("/loginbg-sample.jpg") !important;
// }


#loginForm {
    .form-control-user {
        border-radius: .2rem !important;
    }

    #submitLogin {
        border-radius: .2rem !important;
        background-color: #E8C547 !important;
        border-color: #E8C547 !important;
    }
}

#login_back_to_homepage {
    display: inline-block;
    color: #fff;
    border: 2px solid #fff;
    padding: 0.7em 1.3em;
    border-radius: .5em;
    font-size: .85em;
    text-decoration: none;
}

.topbar .nav-item .nav-link {
    padding: 0 .50rem !important;
}