@import "variables";
@import "mobile/home";
.parallax {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    .parallax-content {
        align-self: center;
        color: #fff;
        
        .title {
            font-size: 2.9em;
            text-align: center;
            font-family: $oswald;
        }

        .sub {
            text-align: center;
            text-transform: uppercase;
        }
    }
}


$packageTheme: #ffd023;

#packages_wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
    #packages_content {
        align-self: center;
        width: 100%;
        padding: 3em 0;
        margin-bottom: 2em;

        // .package-item-list {
        //     display: flex;
        //     flex-wrap: wrap;

        //     .package-item-wrapper {
        //         flex: 1;
        //     }
        // }
        
        .package-item {
            .name {
                background-color:  $packageTheme;
                text-align: center;
                padding: 0.7em 1em;
                font-weight: 600;
                font-size: 1.6em;
                color: #fff;
            }

            .image {
                border: 1px solid $packageTheme;
                border-top: none;
                border-bottom: none;
                padding: 0 1.5em;
                text-align: center;
                .home-package-image {
                    width: 75%;
                }
            }

            .inclusions {
                border: 1px solid $packageTheme;
                border-top: none;
                border-bottom: none;
                padding: 1.5em;
                min-height: 12em;

                ul {
                    list-style: none;
                    margin: 0; padding: 0;
                    li {
                        font-size: .85em;
                    }
                }
            }

            .footer {
                background-color:  $packageTheme;
                text-align: center;
                padding: 1em;
                color: #fff;
                font-size: 2em;

                .peso-sign {
                    position: relative;
                    top: -1em;
                    font-size: .7em;
                }

                .amount {
                    font-size: 1em;
                }

                .zeros {
                    font-size: .8em;
                }
            }
        }
    }

    .title {
        font-family: $oswald;
        font-size: 2.9em;
        text-align: center;
        font-weight: bold;
    }

    
}

#about_us_wrapper {
    padding: 2em;
    // background-color: #343333;
    background-image: url("/images/about-us-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    #about_us {
        color: #fff;
        .title {
            font-family: $oswald;
            font-size: 3em;
        }
    }
}

#home-carousel-wrapper {
    .carousel-item {
        // min-height: 95vh;
        // background-size: cover;
        background-position: center;
        .carousel-caption {
            top: 0;
            box-shadow: 0px 0px #f00;
            display: flex !important;
            .caption {
                align-self: center;
                text-align: left;
                .c-title {
                    font-family: $oswald;
                    font-size: 5em;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    #distributor_wrapper {
        min-width: 1200px !important;
    }

}
