html, body {
    color: #fff;
}

.coming-soon {
    font-size: 3.6em;
    text-transform: uppercase;
    font-weight: bold;
}

.we-are {
    padding: .7em 1.4em;
    background: #c5ae08;
    display: inline-block;
    border-radius: 5px;
    font-weight: bold;
}

.text {
    color: #fff;
    padding: 5em;
}

#desktop_view {
    background-color: #000;
    background: linear-gradient(
        rgba(0, 0, 0, 0.95), 
        rgba(0, 0, 0, 0.95)
      ), url("/images/not-ready-bg1.jpg");
    background-size: cover;
}

#desktop_view:before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px);
}

#mob_view {
    display: none;
    position: absolute;
    z-index: 2;
    top: 0; left: 0;
    width: 100%; 
    height: 100%;
    background: linear-gradient(
        rgba(0, 0, 0, 0.95), 
        rgba(0, 0, 0, 0.95)
      ), url("/images/not-ready-bg1.jpg")
}

#mob_view:before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
   #desktop_view, #desktop_view:before {
       display: none !important;
   }

   #mob_view {
        display: flex;
        flex-wrap: wrap;
       .text {
           padding: 2em;
           margin-top: 20%;
       }
   }

   .coming-soon {
       font-size: 3em;
   }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    #desktop_view, #desktop_view:before {
        display: none !important;
    }
 
    #mob_view {
         display: flex;
         flex-wrap: wrap;
        .text {
            padding: 2em;
            margin-top: 13%;
        }
    }
 
    .coming-soon {
        font-size: 3em;
    }
}