#chooseProductItems {
    min-height: 300px;
    max-height: 400px;
    overflow-y: auto;

    #searchProductsList {
        tr:hover, tr.selected {
            cursor: pointer;
            background-color: rgb(86 251 32 / 21%);
        }
    }
}

#chooseMembers {
    min-height: 300px;
    max-height: 400px;
    overflow-y: auto;

    #searchMembersList {
        tr:hover, tr.selected {
            cursor: pointer;
            background-color: rgb(86 251 32 / 21%);
        }
    }
}