@import "variables";
@import "mobile/styles";


html, body {
    font-family: $montserrat;
}

#home-carousel-wrapper {
    background-color: #000 !important;
}

#navbar_wrapper.sticky {
    position: fixed;
    top: 0;
    #sitelogo {
        width: 17em !important;
    }

    #sitename {
        display: block;
        align-self: center;
        font-size: 1.2em;
        color: #fff;
        padding-left: 1em;
    }
}
#navtop_wrapper {
    display: flex;
    width: 100%;;
}

#navbar_wrapper {
    background-color: rgb(0 0 0 / 75%);
    // background-color: #000;
    padding: 1.5em 1em;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    z-index: 16;

    #sitelogo {
        margin-left: 2em;
        width: 26em;;
    }

    #sitename {
        display: none;
    }

    #sitelogo_text {
        font-family: $orbitron;
        font-size: 3.4em;
        color: #fff;
    }

    // #navbar_sitelogo, #navbar_links_wrapper {
    //     // width: 50%;
    // }

    #navbar_links_wrapper {
        
        #navbar_links {
            background-color: transparent !important;
            .nav-item {
                border-radius: 5px;
                transition: all .5s ease-in-out;
                margin: 0 .5em;
            }

            .nav-item.active, .nav-item:hover {
                background-color: #d2aa1a !important;
            }
        }

        .nav-link {
            padding: .5em 1.5em !important;
            text-transform: uppercase;
            color: #fff !important;
            font-size: .90em;;
        }
    }
}

.peso-sign:before {
    content: '\20B1';
}

#footer-wrapper {
    padding: 2em;
    background-color: #000;
    color: #fff;
    #footer-sitename {
        // font-family: ;
        font-size: 3em;
    }

    .sitelinks {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            padding: .3em 0;
            a {
                color: #fff;
                text-decoration: none;
                // display: block;
            }
        }
    }

    #social-icons {
        a {
            display: inline-block;
            padding: .5em 1em;
            color: #fff;
            font-size: 2em;
        }
    }
}


#banner_wrapper {
    background-color: #000;
    // background-image: url("https://mjpremiumtrading.com/images/slides/slider-1608282222.jpeg");
    background-size: cover;
    height: 50vh;
    display: flex;
    width: 100%;
    align-items: center;
    color: #fff;
    position: relative;
    #banner_content {
        position: absolute;
        top: 0;
        height: 100%;
        left: 0;
        backdrop-filter: brightness(0.5);
        width: 100%;
        display: flex;
        align-items: center;
        justify-items: center;
    }

    #banner-title {
        width: 100%;
        text-align: center;
        padding: 1em;
        h1 {
            font-size: 4em;
            font-weight: bold;
            text-transform: uppercase;
            text-shadow: 0 3px rgb(0 0 0 / 68%);
            font-family: $oswald;
            letter-spacing: 2px;
        }
    }

    .banner-btn {
        font-size: .85em;
        padding: 1em 2.5em;
    }
    p {
        font-family: $montserrat;
    }
}