@media (min-width: 320px) and (max-width: 480px) {
    #loginSiteLogo {
        width: 70px;
    }

    .topbar {
        height: 6em !important;
    }

        
    #page-top.sidebar-toggled {
                
        #name-custom-display, #mjpremium-text {
            display: block;
        }

    }
}

#name-custom-display, #mjpremium-text {
    display: none;
}
