
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    #home-carousel-wrapper {
        .carousel-item {
            .caption {
                .c-title {
                    font-size: 2em !important;
                }
            }
        }
    }

    .parallax {
        height: auto !important;
        padding: 1em !important;
    }

    #packages_wrapper .inclusions {
        height: auto;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .parallax {
        height: auto !important;
    }

    #distributor_wrapper {
        max-width: 100% !important;
    }

    #packages_wrapper .inclusions {
        height: auto;
    }
 }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    .parallax {
        height: auto !important;
    }

    #distributor_wrapper {
        max-width: 100% !important;
    }

    #packages_wrapper .inclusions {
        height: auto;
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 
    .parallax {
        height: auto !important;
    }

    #distributor_wrapper {
        max-width: 100% !important;
    }

    #packages_wrapper .inclusions {
        height: auto;
    }
}