#burgermenu {
    display: none;
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
    //CSS

}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    #sitename {
        font-size: 1em !important;
    }

    .menu_icon_wrapper {
        margin-right: 0 !important;
    }

    #zoom_header {
        position: relative !important;
        background-color: #000;
    }

    #navitem_wrapper .menu_items{
        display: none !important;
    }

    #sitelogo {
        height: 50px !important;
        width: 50px !important;
    }

    #burgermenu {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
        font-size: 2em;
    }

    #zoom_header {
        padding: 1em 0 !important;
    }

    #navitem_wrapper.active .menu_items {
        display: block !important;
    }

    #navitem_wrapper {
        display: block;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100vw !important;
        .menu_icon_wrapper {
            width: 100%;
            flex: none;
        }
        
        .navitem.sitelogo {
            text-align: left !important;
            width: 100%;
            position: relative;
        }

        .menu_items {
            width: 100%;
            flex: none !important;
            background-color: #fff;
            border: 1px solid #e8e8e8;
            margin-top: 1.3em;

            .navitem:not(.sitelogo) {
                display: block;
                width: 100%;
                text-align: left !important;
                flex: none !important;
                a {
                    color: #333 !important;
                    display: block;
                }
            }

            .navitem:not(.sitelogo):not(.loggedAccount){
                // padding: .7em .5em !important;
            }

            .navitem + .navitem {
                border-top: 1px solid  #e8e8e8 !important;
            }



            #account_top {
                text-align: left !important;
                & > a {
                    display: block;
                    padding: 1em 1.3em !important;

                    i.fa.fa-caret-down {
                        margin-left: .5em;
                        position: absolute;
                        top: 0;
                        right: 0;
                        margin: 1em;
                    }
                }
            }

            #account_dropdown_wrapper {
                position: relative;
                top: 0;
                right: 0;
                width: auto !important;
            }
        }

    }

}