
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    #navbar_links_wrapper {
        width: 100% !important;

        #navbar_links {
            width: 100% !important;

            #sitenav {
                margin-top: 1em !important;
                margin-left: -1.5em !important;
                margin-right: -1.5em !important;
            }
        }
    }

    #navbar_wrapper {
        background-color: #000 !important;
        padding: 1em !important;
        position: relative !important;
        #sitenav {
            li.nav-item {
                margin: 0 !important;
                padding: 0.5em auto;
                border-radius: 0 !important;

                a.nav-link {
                    padding: 0.9em 1.5em !important
                }
            }
        }
    }

    #navbar_wrapper.sticky {
        position: relative !important;
    }

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    #navbar_links_wrapper {
        width: 100% !important;

        #navbar_links {
            width: 100% !important;

            #sitenav {
                margin-top: 1em !important;
            }
        }
    }

    
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 

    // #navbar_links_wrapper, #navbar_links_wrapper #navbar_links {
    //     width: auto !important;
    // }
 }

// // Large devices (desktops, less than 1200px)
// @media (max-width: 1199.98px) { ... }